assets/php/DataBaseConf.php
login/_meta/*
login/app/.env
login/composer.lock
login/composer.phar
login/app/cache/*
login/app/logs/*
login/app/sessions/*
!login/app/cache/.gitkeep
!login/app/logs/.gitkeep
!login/app/sessions/.gitkeep
login/app/sprinkles/*/assets/vendor/
login/app/sprinkles.json
login/app/sprinkles/site-dev
login/app/vendor/*
login/build/node_modules/*
login/build/bundle.config.json
login/build/bundle.result.json
login/build/temp
login/build/npm-debug.log
login/app/config-userfrosting.php
login/app/database/userfrosting.db