.idea
main/app/sprinkles/core/assets/SiteAssets/php/DataBaseConf.php
main/app/.env
main/composer.lock
main/composer.phar
main/app/cache/*
main/app/logs/*
main/app/sessions/*
!main/app/cache/.gitkeep
!main/app/logs/.gitkeep
!main/app/sessions/.gitkeep
main/app/sprinkles/*/assets/vendor/
main/app/sprinkles.json
main/app/sprinkles/site-dev
main/app/vendor/*
main/build/node_modules/*
main/build/bundle.config.json
main/build/bundle.result.json
main/build/temp
main/build/npm-debug.log
main/app/config-userfrosting.php
main/app/database/userfrosting.db
