<form method="post" action="{{ site.uri.public }}/api/posts/image">
    {% include "forms/csrf.html.twig" %}
    <p>
        <label>Upload file:</label><br/>
        <input formenctype="multipart/form-data" type="file" name="image"/>
    </p>
    <input formenctype="multipart/form-data" type="submit"/>
</form>