html, body {
    background-color: #fdfeff;
    color: #426A91;
}

a {
    color: #4a93c0;
}

hr {
    border-top: 1px solid #e7e7e7;
}

img {
    pointer-events: none;
}

.main-carousel {
    background: #EEE;
}

.carousel-cell {
    background: #FDFEFF;
}

.LeftButtonHeader {
    filter: invert(.5);
    -webkit-filter: invert(.5);
    -moz-filter: invert(.5);
}

.HeaderCaption {
    color: #888888;
}

.RightButtonHeader {
    filter: invert(.5);
    -webkit-filter: invert(.5);
    -moz-filter: invert(.5);
}

.UserSearchBar {
    color: #f3f4f5;
    background-color: #c8c9ca;
}

.SearchResults .full_name {
    grid-column-start: 3;
    justify-self: center; /* OR start */
    align-self: center;
}

.ServerChatMessage {
    background: linear-gradient(to right, #ad4eff, #7c41f9);
    color: #FFF;
}

.TypingIndicatorMessage {
    background-color: #DFDFDF;
    color: #a7a8a9;
}

.MessageSent {
    background-color: #376cf4;
    color: #efefef;
}

.MessageReceived {
    background-color: #dfdfdf;
    color: #6a6b6c;
}

.ChatInput {
    color: #393a3b;
    background-color: #c8c9ca;
}

.spinner > div {
    background-color: #98999a;
}

.GenderFab {
    color: white;
}

.GenderFab.Female {
    background: linear-gradient(to right, #ff7a88, #ff9676);
}

.GenderFab.Male {
    background: linear-gradient(to right, #11c1d5, #1ddcb6);
}

.Navbar {
    background-color: #FDFEFF;
    -webkit-box-shadow: 0 -1px 5px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0 -1px 5px rgba(50, 50, 50, 0.3);
    box-shadow: 0 -1px 5px rgba(50, 50, 50, 0.3);
}

.NavbarLine {
    background: #eb12b5;
}

